# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Log files
*.log
*.tflog

# Local micro-directories / Provider binaries
.terraform/

# Hide all actual tfvars configuration files
*.tfvars
*.tfvars.json

# Override: Allow sample/example files to show variables needed
!*.tfvars.example

# Ignore local state files (Use a remote backend like S3 instead)
*.tfstate
*.tfstate.*

# Ignore crash dumps
crash.log
crash.*.log

# Ignore sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files (like credentials)
.terraformrc
terraform.rc
